<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { title: title }); -%>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
    
    <%- include('../partials/header.ejs'); -%>
    
    <main id="main">

    <section>
        <div class="container aos-init aos-animate" data-aos="fade-up">
            
            <div class="section-title">
                <h2>Animations</h2>
                <p>
                    I specialize in creating YouTube animations that tell a story, convey information, and engage viewers. Whether you need a promotional video, an explainer video, or simply want to entertain your audience, I have the skills and experience to bring your vision to life. From hand-drawn to computer-generated animation, I can create a wide range of styles and tones to suit your needs.     
                </p>
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 920px" src="https://www.youtube.com/embed/l_s1aXV9kCo"></iframe>
            </div>
            
        </div>
    </section>        

    </main>    
   
    <%- include('../partials/bootstrapjs.ejs'); -%>

    <%- include('../partials/footer.ejs'); -%>

    <a href="/portfolio/animation" class="back-to-top d-flex align-items-center justify-content-center active">
        <i class="bi bi-arrow-up-short"></i>
    </a>

</body>
</html>