<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { title: title }); -%>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
    
    <%- include('../partials/header.ejs'); -%>
    
    <main id="main">

    <section>
        <div class="container aos-init aos-animate" data-aos="fade-up">
            
            <div class="section-title">
                <h2>Augmented Reality</h2>
                <p>
                    I am passionate aboute creating innovative augmented reality (AR) experiences that engage and delight users. Using AR technology, I can enhance the real world with digital content, creating immersive and interactive experiences that captivate and inform.     
                </p>
            </div>

            <div class="porfolio-frame">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/YXh9BTdM7UI"></iframe>
            </div>
            
        </div>
    </section>        

    </main>    
   
    <%- include('../partials/bootstrapjs.ejs'); -%>

    <%- include('../partials/footer.ejs'); -%>

    <a href="/portfolio/augmentedreality" class="back-to-top d-flex align-items-center justify-content-center active">
        <i class="bi bi-arrow-up-short"></i>
    </a>

</body>
</html>