<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', { title: title }); -%>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

    <%- include('partials/header.ejs'); -%>

    <main id="main">

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container aos-init aos-animate" data-aos="fade-up">
    
            <div class="section-title">
              
              <h2>Contact</h2>
              
              <p>
                Thank you for visiting my contact page! I am a skilled multimedia designer specializing in creating visually stunning and effective designs for a variety of mediums. Whether you are looking for a new website design, a brand refresh, or marketing materials, I have the skills and experience to bring your vision to life.
              </p>
              <br>
              <p>
                To get in touch with me, please fill out the form below with your name, email address, and a brief description of your project. I will get back to you as soon as possible to discuss your needs and provide a quote.

                I look forward to working with you and helping you elevate your brand through stunning multimedia designs!

              </p>

            </div>
    
            <div>
              <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.2459217750065!2d-79.60855718424065!3d43.726217879118806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3b1557d8ca69%3A0x66a5d205e6eadc1!2sHumber%20College%20North!5e0!3m2!1sen!2sca!4v1671206909586!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    
            <div class="row mt-5">
    
              <div class="col-lg-4">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>1234 Address Street, City, ON L5N 10M</p>
                  </div>
    
                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>garcia.anne0175@gmail.com</p>
                  </div>
    
                  <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>(905) 598-4193</p>
                  </div>
    
                </div>
    
              </div>
    
              <div class="col-lg-8 mt-5 mt-lg-0">
    
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your messages has been sent! Please allow up to 24 hours for a response.</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
    
              </div>
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->
    
      </main>

    <%- include('partials/bootstrapjs.ejs'); -%>

    <%- include('partials/footer.ejs'); -%>

    <a href="/contact" class="back-to-top d-flex align-items-center justify-content-center active">
        <i class="bi bi-arrow-up-short"></i>
    </a>

</body>
</html>